header {
  background-color: var(--clr5);
  border-bottom: 4px solid #444;
}

.main-header {
  display: flex;
  justify-content: space-between;
  height: 130px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--clr2);
  cursor: pointer;
}

.main-nav-link:hover {
  border-bottom: 4px solid var(--clr3);
}

/* LOGO */

.logo {
  font-size: 2.5rem;
}

.logo::after {
  content: '.';
  font-size: 2.5rem;
  color: var(--clr3);
}

/* NAV BURGER */
.nav-burger {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.nav-burger:hover {
  color: var(--clr4);
}

/* DROPDOWN */

.drop-down {
  position: relative;
}

.drop-links {
  background-color: var(--clr1);
  position: absolute;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transform: translateY(3.6rem);
  transition: opacity 0.2s ease-in;
}

.drop-down:hover .drop-links {
  opacity: 1;
  pointer-events: all;
}

.drop-links a {
  display: block;
  padding: 2rem;
  border-top: 1px solid var(--clr4);
}

.drop-links a:hover {
  background-color: var(--clr3);
}
