.modal {
  text-align: center;
  position: fixed;
  opacity: 0;
  transition: opacity 0.4s, transform 0.2s;
  background-color: var(--clr7);
  color: var(--clr1);
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

body.modal-open .modal {
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.modal-open {
  overflow: hidden;
}

.modal button {
  cursor: pointer;
  font-family: lato-bold;
  text-transform: uppercase;
  border: 2px solid var(--clr4);
  padding: 0.8rem 1.2rem;
  background-color: var(--clr2);
  border-radius: 1.3rem;
}

.modal button:hover {
  background-color: var(--clr1);
  color: var(--clr2);
}

.btns {
  display: flex;
  gap: 0.5rem;
}

.modal [type='email'] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--clr1);
}
.modal label::after {
  content: '→';
}

.modal [type='email']:focus {
  outline: none;
  color: var(--clr8);
}
