.paging {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  border-top: 1px solid #707070;
}

.paging a {
  color: var(--clr8);
  text-decoration: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: lato-bold;
}

.paging img {
  height: 10px;
  width: 16px;
}

.next img {
  margin-left: 5px;
}

.previous img {
  margin-right: 5px;
}
