.post {
  margin-top: 70px;
}

.post-img {
  flex-basis: 50%;
  object-fit: contain;
}

.post-content {
  margin: 14 auto;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.post-content h2 {
  font-size: 1.75em;
  margin-bottom: 28px;
  letter-spacing: 0.1em;
  color: var(--clr1);
}

.post-content p {
  color: var(--clr8);
  font-family: lato, sans-serif;
  text-overflow: ellipsis;
  word-wrap: break-all;
  overflow-wrap: hidden;
}

.post-content button {
  color: #c2c1c1;
  border: 2px solid #c2c1c1;
  padding: 10px 24px;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.05rem;
  font-family: lato-bold;
  border-radius: 20px;
  background-color: #fff;
}

.post-content button:hover {
  border-color: var(--clr3);
  color: var(--clr3);
}

.post-content button:hover::after {
  content: '\0020\2192';
}
